  
            <div id="sidebar" class="col-lg-4 col-md-12 col-sm-12">
            	<div id="banner">
                	<%for(let banner of banners){%>
                        <div class="banner-item">
                            <a href="#"><img class="img-fluid" src="../uploads/images/<%=banner.thumbnail%>"></a>
                        </div>
                    <%}%>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<!--	End Body	-->